{% extends 'welcome.html' %}

{% block title %}
Contact Us
{%endblock%}

{% block extra_css %}

{%endblock%}

{% block content %}
<div class="contact-container">
    <div class="hero-section">
        <h2>Get in Touch</h2>
        <h3>Thanks for checking out our To Do List App project! <br>If you'd like to connect, share feedback, or discuss collaboration: </h3>
    </div>
    <div>
        <ul class="contact-list">
            <li>Email: <a href="mailto:terigcreatives@gmail.com">terigcreatives@gmail.com</a></li>
            <li>Email: <a href="mailto:covmena2009@gmail.com">covmena2009@gmail.com</a></li>
        </ul>
    </div>
    <div class="contact-list">
        <p>Your feedback helps us build a better tool to keep you organized and productive every day.</p>
        <p>We'd be happy to hear from you!</p>
    </div>
</div>
{% endblock %}